<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><img style="height:25px" src="assets/img/1.png" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <div class="ion-padding-verntical">
    <ion-card class="ion-text-center">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h1>Registrar Vehiculo</h1>
        </ion-label>
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Patente</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Marca</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Modelo</ion-label>
          <ion-input type="text"  [(ngModel)]="usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Año del Vehiculo</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button [routerLink]="['/ofrecer2']" size="medium" color="light" expand="block" (click)="saludar()">Ofrecer viaje</ion-button>
      <ion-button [routerLink]="['/pagina']" size="medium" color="light" expand="block" (click)="siguiente()">Volver</ion-button>

    </ion-card>
  </div>
</ion-content>
