<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h4>TeLlevoApp</h4>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-card>
      <ion-card-title class="ion-text-center">
        <ion-label>
          <img src="assets/img/1.png" />
          <h4>INICIO SESION</h4>
        </ion-label>
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="dato"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>    

          <ion-label [routerLink]="['/recuperar']" color="success " floating>Recuperar Contraseña</ion-label>
      </ion-card-content>
      <ion-button [routerLink]="['/pagina']" size="medium" color="light" expand="block" (click)="siguiente()">Entrar</ion-button>
      <ion-button [routerLink]="['/home']" size="medium" color="light" expand="block" (click)="siguiente()">Volver</ion-button>

    </ion-card>
    
  </ion-content>
</ion-app>



